/*  SCSS variables to store breakpoints */
$tablet-width: 768px;
$desktop-width: 1024px;

// media queries for responsive app
@mixin sm {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// button design
@mixin button-bg($bg, $bgHover) {
  background: $bg;
  margin-right: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    background: $bgHover;
    transition: all 0.3s ease;
    color: #fff;
    transform: translateY(-7px);
  }
  &:active {
    background: darken($bgHover, 8%);
    color: #fff;
  }
}
