@import 'styles/_colors.scss';
@import 'styles/_mixins.scss';
@import '../index.scss';
@import 'Header.scss';
@import 'TableEnergy.scss';
@import 'ButtonEnergy.scss';

.container {
  padding: 0 15px;
  @include sm {
    padding: 0 20px;
  }
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}

h1 {
  text-align: center;
}
