.btn-orange {
  @include button-bg($orange, $orange-hover);
}
.btn {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 45px;
  font-size: 1.2em;
}
