$lightGreen: #cceeea;
$green: #00887a;
$orange: #ffb135;
$orange-hover: #e68d00;

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border: 2px solid $lightGreen;
  &ul {
    &li {
      list-style: none;
    }
    & a {
      text-decoration: none;
    }
  }
}
