.table-index {
  width: 100%;

  caption {
    h2 {
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $orange;
      text-align: center;
    }
  }
  thead {
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    th {
      text-transform: uppercase;
      background-color: $lightGreen;
      border-radius: 6px;
      text-align: center;
      padding: 10px;
      color: $green;
      border: 1px solid #f1f1f1;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $lightGreen;
      color: $grey;

      td {
        padding: 10px;
        border: 1px solid $lightGreen;
        text-align: center;
        border-radius: 6px;
      }
      th {
        padding-left: 10px;
        border: 1px solid $lightGreen;
      }
    }
  }
}

.reveseTd td {
  width: 100% !important;
}

select {
  font-size: 1.2em;
  padding: 0.2em;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  &:focus,
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  &:after {
    content: '▾';
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 1;
    color: #bbbbbb;
    line-height: 40px;
    font-size: 14px;

    .ie & {
      display: none;
    }
  }
}
